*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html{
   user-select: none;
}
a{
   text-decoration: none;
}

ul{
   list-style: none;
}


.fw-medium {
   font-weight: 600 !important;
}
.fw-large{
   font-weight: 900 !important;
}

.back-to-top {
   position: fixed;
   display: none;
   right: 45px;
   bottom: 45px;
   z-index: 99;
}


/*** Spinner ***/
#spinner {
   opacity: 0;
   visibility: hidden;
   transition: opacity .5s ease-out, visibility 0s linear .5s;
   z-index: 99999;
}

#spinner.show {
   transition: opacity .5s ease-out, visibility 0s linear 0s;
   visibility: visible;
   opacity: 1;
}


/*** Button ***/
.btn {
   font-weight: 600;
   transition: .5s;
}


.bg-primary{
   background-color: var(--color-primary) !important;
}
.border-primary{
   border-color: var(--color-primary) !important;
}
.text-primary{
   color: var(--color-primary) !important;
}


